body {
    min-height: 100vh;
	width: 100vw;
	margin: 0;
	background-image: url('/images/background.jpg');
    background-size: cover;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
    display: flex;
    flex-direction: row;
    
    background-color: white;
    height: 1vh;
    padding: 25px 25px 25px 25px;
}

#headerstart {
display: flex;
}

#headerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headerRight {
    width: 1300px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

h2 {
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

#titre {
    color:#019875;
}

#titre:hover {
    cursor: pointer;
}
#content{
    display: flex;
    justify-content: space-around;
    width: 800px
}
#homeMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#space {
    height: 50px
}
#bodyLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
#departure {
    width: 250px;
    border-bottom-color: #019875;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
#arrival {
    width: 250px;
}


#bodyRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: scroll;
}
#trip {
    display: flex;
    justify-content: space-between;
    width: 230px;
    align-items: center;

}

input {
    border: none;
    background-color: rgb(229, 234, 225);
    height: 30px;
    border-radius: 5px;
}

#bt {
    background-color: #019875 ;
    border-radius: 5px;
    height: 30px;
    border: none;
    color: white;
}

#addBook {
    background-color:#019875 ;
    color: white;
    height: 30px;
    border-radius: 5px;
    border: none;
}
#addBook:hover{
    cursor: pointer;
}
#bt:hover{
    cursor: pointer;
}

#train {
    height: 150px;
    width: 150px;
}

.green-bar {
    width: 200px;
    height: 5px;
    border-radius: 5px;
    background-color: #019875;
}